.grid-container {
  height: 100%;
  width: 100%;

  /* border: 2px dashed #8c8c8c; */

  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 21em;
  margin-bottom: 1em;
  margin-right: 20em;
}